@charset "utf-8";

// Set your brand colors
$mariner: #286ACD;
$alabaster: #F8F8F8;

// Update Bulma's global variables
$primary: $mariner;

// Update some of Bulma's component variables
$body-background-color: $alabaster;

// TODO: just import what is needed
@import "../node_modules/bulma/bulma";
